extends layout

block hero-unit
  .jumbotron
    .container
  
  
block content
  .container
    .tex Find your next experience
    .text-center
      form.form-inline.search-input-group(action='/questions', method='GET')
        i.fa.fa-search
        input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)
      
    .row
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      
