extends layout

block hero-unit
  .jumbotron
    .container
  
  
block content
  .container
    .tex Find your next experience
    .text-center
      input()
      
    .row
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      .col-sm-4
        h3 새로운 카드
        p 카드에 입력될 내용
      
