extends layout

block hero-unit
  .jumbotron
    .container
      
      //div(id="carouselExampleControls" class="carousel slide" data-ride="carousel")
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src="https://www.womenssportsfoundation.org/wp-content/uploads/2016/08/gettyimages-487651460_success-stories-herotile.jpg" alt="First slide")
          .carousel-item
            img.d-block.w-100(src="http://www.abast.info/assets/uploads/cookandtaste-cookingclasses-home-10.jpg" alt="Second slide")
          .carousel-item
            img.d-block.w-100(src="https://www.solent.ac.uk/courses/undergraduate/popular-music-performance-top-up-ba/years/2016/assets/popular-music-performance-top-up-Cropped-1920x830.jpg" alt="Third slide") 
          .carousel-item
            img.d-block.w-100(src="https://ultramusicfestival.com/wp-content/uploads/2016/04/miami-2016-og-1.jpg" alt="Third slide") 
          .carousel-item
            img.d-block.w-100(src="https://cdn-media.httpid.com/c202/2017/05/singles_night-768x261.jpeg" alt="Third slide")  
block content
  //.container
    .row.justify-content-md-center
      .col-3
        Category
        
            
  .container
    class.row.justify-content-md-center
      .col-lg-4.col-12.col-md-6
        .card-img-top 
          img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F36099902%2F188355823486%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C0%2C2160%2C1080&s=1035026ceb8c254b7e75c0397cc2e0a7")
        .card-body
          .card-text
            FRI OCT 20 7:00 PM
            .bol Grease, School Edition - October 20, 2017
            Secoul Foreign School | 서울외국인학교, ...
    
      .col-lg-4.col-12.col-md-6
        .card-img-top 
          img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F36099902%2F188355823486%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C0%2C2160%2C1080&s=1035026ceb8c254b7e75c0397cc2e0a7")
        .card-body
          .card-text
            FRI OCT 20 7:00 PM
            .bol Grease, School Edition - October 20, 2017
            Secoul Foreign School | 서울외국인학교, ...
      
      .col-lg-4.col-12.col-md-6
        .card-img-top 
          img(src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F36099902%2F188355823486%2F1%2Foriginal.jpg?h=230&w=460&rect=0%2C0%2C2160%2C1080&s=1035026ceb8c254b7e75c0397cc2e0a7")
        .card-body
          .card-text
            FRI OCT 20 7:00 PM
            .bol Grease, School Edition - October 20, 2017
            Secoul Foreign School | 서울외국인학교, ...
    
